<div class="container" [formGroup]="formGroup">
  <mat-form-field class="form-field full-width mouse-hover" (click)="toogleModel($event)">
    <input class="mouse-hover" type="text" matInput formControlName="dateRange" readonly>
   <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </mat-form-field>
  <div class="model" [ngClass]="{'close': !modelOpen }" fxLayout="column" fxLayoutAlign="center center">
    <div [@slideInOut]="formGroup.get('_selectedDate1').value>formGroup.get('_selectedDate2').value ? 'in' : 'out'"  class="row error-panel" fxLayout="column" fxLayoutAlign="center center">
      End date is earlier then start date
    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="center start">
      <div class="row" fxLayout="column" fxLayoutAlign="center start" style="width: 100%">
        <div class="heading">
          <p>Select Date and Time Range</p>
        </div>
        <div class="dateTimeRange" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-form-field class="form-field full-width" style="width: 60%">
            <mat-select formControlName="dateTimeType">
              <mat-option *ngFor="let dateType of dateTypeOptions" [value]="dateType.value">
                {{dateType.displayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="includeToday" *ngIf="isIncludeTodayCheckedView">Include Today</mat-checkbox>
        </div>
      </div>

      <div class="row box-border" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px" *ngIf="isIncludeCalendarView">
        <div class="date-input" fxLayout="column" fxLayoutAlign="center center">
          <div class="title"><span class="title-text">Start Date</span></div>
          <p class="time-heading">{{ selectedDate1 }}</p>
          <ng-container *ngIf="formGroup.get('dateTimeType').value !== 'fixed'">
            <div class="calendar-option">
              <mat-form-field>
                <mat-select formControlName="dateInputType1">
                  <mat-option value="fixed">Fixed</mat-option>
                  <mat-option value="today">Today</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="today" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="formGroup.get('dateInputType1').value==='today'">
              <mat-form-field>
                <mat-select formControlName="dateOp1" (selectionChange)="onDateChange1('op')">
                  <mat-option value="minus">Minus</mat-option>
                  <mat-option value="plus">Plus</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Duration</mat-label>
                <input formControlName="duration1" type="text" matInput value="0" min="0" (input)="onDateChange1('duration')">
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="period1" (selectionChange)="onDateChange1('period')">
                  <mat-option value="days">Days</mat-option>
                  <mat-option value="weeks">Weeks</mat-option>
                  <mat-option value="months">Months</mat-option>
                  <mat-option value="years">Years</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
          <div class="fixed calendar" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="formGroup.get('dateInputType1').value==='fixed'">
            <mat-calendar [selected]="formGroup.get('_selectedDate1').value" (selectedChange)="onSelectDate1($event)"></mat-calendar>
          </div>
        </div>
        <div class="date-input" fxLayout="column" fxLayoutAlign="center center">
          <div class="title"><span class="title-text">End Date</span></div>
          <p class="time-heading">{{ selectedDate2 }}</p>
          <ng-container *ngIf="formGroup.get('dateTimeType').value !== 'fixed'">
            <div class="calendar-option">
              <mat-form-field>
                <mat-select formControlName="dateInputType2">
                  <mat-option value="fixed">Fixed</mat-option>
                  <mat-option value="today">Today</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="today" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="formGroup.get('dateInputType2').value==='today'">
              <mat-form-field>
                <mat-select formControlName="dateOp2">
                  <mat-option value="minus">Minus</mat-option>
                  <mat-option value="plus">Plus</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Duration</mat-label>
                <input formControlName="duration2" type="text" matInput value="0">
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="period2">
                  <mat-option value="days">Days</mat-option>
                  <mat-option value="weeks">Weeks</mat-option>
                  <mat-option value="months">Months</mat-option>
                  <mat-option value="years">Years</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
          <div class="fixed calendar" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" *ngIf="formGroup.get('dateInputType2').value==='fixed'">
            <mat-calendar [selected]="formGroup.get('_selectedDate2').value" (selectedChange)="onSelectDate2($event)"></mat-calendar>
          </div>
        </div>
      </div>

      <div class="row" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="m-t-10">
        <mat-checkbox formControlName="allDay" (change)="onCheckAllDay()" class="check_btn">All day</mat-checkbox>
        <mat-radio-group *ngIf="isIncludeRadioTimeGroupView" formControlName="radioTime" class="radio-group" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
          <mat-radio-button class="radio_btn" value="1">Individual Time Blocks</mat-radio-button>
          <mat-radio-button class="radio_btn" value="2">Continuous Time Blocks</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px" >
        <div class="time-picker from-time">
          <mat-form-field class="time-form-field">
            <span matPrefix class="text-bold">From: </span>
            <input type="text" matInput formControlName="fromTime">
            <mat-select matSuffix class="time-select" (selectionChange)="handleChangeTime('fromTime', $event)" [disabled]="formGroup.get('fromTime').disabled">
              <mat-option [value]="hour" *ngFor="let hour of getHourMinuteOptionData()">{{hour.toLowerCase()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="time-picker to-time">
          <mat-form-field class="time-form-field">
            <span matPrefix class="text-bold">To: </span>
            <input type="text" matInput formControlName="toTime">
            <mat-select matSuffix class="time-select" (selectionChange)="handleChangeTime('toTime', $event)" [disabled]="formGroup.get('toTime').disabled">
              <mat-option [value]="hour" *ngFor="let hour of getHourMinuteOptionData()">{{hour.toLowerCase()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div  class="row time-info" fxFlex="row" fxFlexAlign="start center">
        <mat-icon class="calendar-icon">date_range</mat-icon>
        <div #dateRangeInfo class="time-content">{{formGroup.getRawValue() | todatehtml:formatView:dateTypeOptions}}</div>
        <!--      <div #dateInfo class="time-content">-->
        <!--        <ng-container *ngIf="!isNotIncludeDetailDate">-->
        <!--          <ng-container *ngIf="formGroup.get('dateInputType1').value==='fixed' && formGroup.get('dateInputType2').value==='fixed'">-->
        <!--         <span *ngIf="formGroup.get('radioTime').value==1" class="time-info">{{selectedDate1}} - {{selectedDate2}}-->
        <!--           <ng-container *ngIf="!allDayChecked"> ({{fromTime}} - {{toTime}} each day)</ng-container>-->
        <!--        </span>-->
        <!--            <span *ngIf="formGroup.get('radioTime').value==2" class="time-info">-->
        <!--          <ng-container *ngIf="allDayChecked">{{selectedDate1}} - {{selectedDate2}}</ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked">{{selectedDate1}} ({{fromTime}}) - {{selectedDate2}} ({{toTime}})</ng-container>-->
        <!--        </span>-->
        <!--          </ng-container>-->

        <!--          <ng-container *ngIf="formGroup.get('dateInputType1').value==='today' && formGroup.get('dateInputType2').value==='fixed'">-->
        <!--         <span *ngIf="formGroup.get('radioTime').value==1" class="time-info">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} - {{selectedDate2}}-->
        <!--           <ng-container *ngIf="!allDayChecked">({{fromTime}} - {{toTime}} each day)</ng-container>-->
        <!--        </span>-->
        <!--            <span *ngIf="formGroup.get('radioTime').value==2" class="time-info">-->
        <!--          <ng-container *ngIf="allDayChecked">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} - {{selectedDate2}}</ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} ({{fromTime}}) - {{selectedDate2}} ({{toTime}})</ng-container>-->
        <!--        </span>-->
        <!--          </ng-container>-->

        <!--          <ng-container *ngIf="formGroup.get('dateInputType1').value==='fixed' && formGroup.get('dateInputType2').value==='today'">-->
        <!--         <span *ngIf="formGroup.get('radioTime').value==1" class="time-info">{{selectedDate1}} - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}}-->
        <!--           <ng-container *ngIf="!allDayChecked"> ({{fromTime}} - {{toTime}} each day)</ng-container>-->
        <!--        </span>-->
        <!--            <span *ngIf="formGroup.get('radioTime').value==2" class="time-info">-->
        <!--          <ng-container *ngIf="allDayChecked">{{selectedDate1}} - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}}</ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked">{{selectedDate1}} ({{fromTime}}) - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}} ({{toTime}})</ng-container>-->
        <!--        </span>-->
        <!--          </ng-container>-->

        <!--          <ng-container *ngIf="formGroup.get('dateInputType1').value==='today' && formGroup.get('dateInputType2').value==='today'">-->
        <!--         <span *ngIf="formGroup.get('radioTime').value==1" class="time-info">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}}-->
        <!--           <ng-container *ngIf="!allDayChecked"> ({{fromTime}} - {{toTime}} each day)</ng-container>-->
        <!--        </span>-->
        <!--            <span *ngIf="formGroup.get('radioTime').value==2" class="time-info">-->
        <!--          <ng-container *ngIf="allDayChecked">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}}</ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked">Today {{formGroup.get('dateOp1').value}} {{formGroup.get('duration1').value}} {{formGroup.get('period1').value}} ({{fromTime}}) - Today {{formGroup.get('dateOp2').value}} {{formGroup.get('duration2').value}} {{formGroup.get('period2').value}} ({{toTime}})</ng-container>-->
        <!--        </span>-->
        <!--          </ng-container>-->
        <!--        </ng-container>-->

        <!--        <ng-container *ngIf="isNotIncludeDetailDate">-->
        <!--        <span class="time-info">-->
        <!--          {{dateTypeDisplayName}}-->
        <!--          <ng-container *ngIf="isIncludeTodayCheckedView && !isIncludeTodayChecked">, not including today</ng-container>-->
        <!--          <ng-container *ngIf="isIncludeTodayCheckedView && isIncludeTodayChecked">, including today</ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked && isIncludeRadioTimeGroupView">-->
        <!--            <ng-container *ngIf="formGroup.get('radioTime').value==1"> ({{fromTime}} - {{toTime}} each day)</ng-container>-->
        <!--            <ng-container *ngIf="formGroup.get('radioTime').value==2"> ({{fromTime}} - {{toTime}})</ng-container>-->
        <!--          </ng-container>-->
        <!--          <ng-container *ngIf="!allDayChecked && !isIncludeRadioTimeGroupView">-->
        <!--             ({{fromTime}} - {{toTime}})-->
        <!--          </ng-container>-->
        <!--        </span>-->
        <!--        </ng-container>-->
        <!--      </div>-->
      </div>

      <div class="row" fxFlex="row" fxFlexAlign="end center" style="display: flex; justify-content: flex-end; margin-top: 10px">
        <button (click)="cancelModel($event)" mat-flat-button>CANCEL</button>
        <button class="primary-color" [disabled]="formGroup.get('_selectedDate1').value>formGroup.get('_selectedDate2').value" (click)="applyModel($event)" mat-flat-button>APPLY</button>
      </div>
    </div>



  </div>

</div>
