:host {
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  position: relative;
}

.row {
  width: 100%
}

.model {
  position: absolute;
  width: 500px;
  background: #FFF;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.content {
  padding: 15px;
  width: 100%;
}
.close {
  display: none !important;
}

.heading {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: auto;
  -moz-osx-font-smoothing: auto;
}

.time-heading {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: auto;
  -moz-osx-font-smoothing: auto;
  padding: 5px;
}
.dateTimeRange, .date-input {
  width: 100%;
}

.title {
  width: 100%;
  height: 36px;
  background: #D6D6D6;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  display: inline-block;
  font-weight: 300;
}

.text-bold {
  font-weight: 500;
  margin-right: 8px;
}

.time-select {
  padding: 5px;
}

.calendar-icon {
  font-size: 16px;

}

::ng-deep.mat-calendar-header {
  padding-top: 0!important;
}

.time-info {
  display: flex;
  align-items: center;
}

.calendar-icon{
  font-size: 24px;
  margin-right: 8px;
}

.primary-color {
  color: #0574D0;
}

::ng-deep.cdk-overlay-pane {
  margin-left: 15px !important;
}

::ng-deep.mat-calendar-controls {
  margin-top: 0!important;
}

.box-border {
  border-bottom: 1px solid #cccccc;
}

/*Phan biet giua mat form-field-flex va infix*/

::ng-deep.time-form-field .mat-form-field-flex  {
  /*padding: 5px 10px;*/
  border-bottom: 1px solid;
}

.time-picker mat-form-field {
  width: 180px;
}
.time-picker input[disabled] {
  cursor: not-allowed;
  color: rgba(0,0,0,.38);
}

.m-t-10 {
  margin-top: 10px;
}

.error-panel {
  height: 42px;
  background-color: #EF5D5D;
  font-weight: 500;
}

.mouse-hover:hover {
  cursor: pointer;
}

::ng-deep.mat-form-field-flex:hover .mat-form-field-ripple {
  opacity: 1;
  transform: none;
  transition: opacity .6s cubic-bezier(.25,.8,.25,1);
}

::ng-deep.mat-form-field-ripple {
  height: 2px;
  width: 100%;
  transform-origin: 50%;
  /*transform: scaleX(.5);*/
  /*opacity: 0;*/
  /*transition: background-color .3s cubic-bezier(.55,0,.55,.2);*/
  background-color: rgba(0,0,0,.87);
}


.element-body {

}
