.container {
  width: 100%;
  height: 100%;
}

.form {
  /*min-width: 500px;*/
  max-width: 350px;
  width: 350px;
}

.full-width {
  width: 100%;
  display: block;
}

.user-input {
  display:inline;
}

.password-input {
  display: inline;
}

app-inpur-row {
  width: 100%;
}
