<div fxLayout="col" fxLayoutGap="50px" fxLayoutAlign="center center" class="container">
  <div class="form" [formGroup]="formGroup">

    <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
      <app-inpur-row matIcon="people" placeholder="Please enter your username" type="text" formControlName="username"></app-inpur-row>
      <div *ngIf="!formGroup.controls['username'].valid">Error Max length</div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center center">
      <app-inpur-row matIcon="security" placeholder="Please enter your password" type="password" formControlName="password"></app-inpur-row>
    </div>

    <button button="submit" mat-raised-button color="primary">Login</button>
  </div>
</div>
