<div class="form-control" fxLayout="column" fxLayoutAlign="center center" [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <mat-label>Start date</mat-label>
    <mat-select [(value)]="selectedOption" (selectionChange)="onChangeOption()">
      <mat-option *ngFor="let option of dateOptions" [value]="option.id">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="custom_date_container">
    <mat-form-field class="full-width date_custom_field" *ngIf="(selectedOption === 'custom')">
      <input
        matInput
        formControlName="dateValue"
        placeholder="Custom Date Time"
        (input)="onDateInput('input')"
        autocomplete="off"
      >
      <mat-error *ngIf="formGroup.get('dateValue').errors && formGroup.get('dateValue').errors['Invalid']">Invalid field</mat-error>
      <input
        matInput
        [matDatepicker]="picker"
        autocomplete="off"
        formControlName="dateChoosen"
        (dateInput)="onDateInput('chooseDate')"
        style="display: none"
      >
      <mat-datepicker-toggle class="icon_picker" matSuffix [for]="picker">
      </mat-datepicker-toggle>

      <mat-select matSuffix class="no-padding" formControlName="time" (selectionChange)="onChangeTime()">
        <mat-option value="7:00">7:00</mat-option>
        <mat-option value="7:30">7:30</mat-option>
        <mat-option value="8:00">8:00</mat-option>
        <mat-option value="8:30">8:30</mat-option>
        <mat-option value="9:00">9:00</mat-option>
        <mat-option value="9:30">9:30</mat-option>
        <mat-option value="10:00">10:00</mat-option>
      </mat-select>

      <mat-datepicker class="date_picker" #picker ></mat-datepicker>
    </mat-form-field>
  </div>
</div>

